.slick-dots li button:before {
    font-size: 20px;
    opacity: .80;
    color: #212121;
}

.slick-dots li.slick-active button:before {
    color: white;
}

.slick-dotted {
    &.slick-slider {
        margin-bottom: 0;
    }
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}
