.site-header {
    position: absolute;
    top: 30px;
    width: 100%;
    overflow: hidden;
    z-index: 10;
    background: rgba(255, 255, 255, 0.45);
    transition: all .3s ease-in-out;
    @include breakpoint(mobile) {
        top: 0;
        background: rgba(255, 255, 255, 0.95);
        // background: rgba(0,0,0,.9);
    }
    @include clearit;
    .humBtn {
        position: relative;
        top: -20px;
        float: right;
        right: 5px;
        width: 25px;
        height: 16px;
        span {
            display: block;
            width: 25px;
            height: 2px;
            background: $greenMid;
            &:nth-child(1) {
                position: absolute;
                top: 0;
            }
            &:nth-child(2) {
                position: absolute;
                top: 50%;
                opacity: 1;
                transform: translateY(-50%);
            }
            &:nth-child(3) {
                position: absolute;
                bottom: 0;
            }
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                transition: all .3s ease-in-out;
            }
        }
        &.humBtnTrigger {
            span {
                &:nth-child(1) {
                    top: -2px;
                    transform-origin: left top;
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                    transform: translate(40px, -50%);
                }
                &:nth-child(3) {
                    transform-origin: left bottom;
                    transform: rotate(-45deg);
                    bottom: -1px;
                }    
            }
        }
    }
    .treehouse-logo {
        float: left;
        padding: 10px 25px;
        @include breakpoint(mobile) {
            float: none;
            padding: 15px 0 0;
        }
        img {
            width: 180px;
            @include breakpoint(tablet) {
                width: 160px;
            }
            @include breakpoint(mobile) {
                position: relative;
                width: 155px;
            }
        }
    }
    &.onHeadScroll {
        position: fixed;
        top: 0;
        background: #b1df73;
        box-shadow: 0 1px 12px rgba(0,0,0,.17);
        transition: all .3s ease-in-out;
    }
}