// FONT FAMILY
$font_idx: 1;
$font_default: Helvetica, Arial, sans-serif !default;

// Font Family Ex. (name, 'fonts/path')
$font_family: (
    robotolight: 'fonts/roboto-light-webfont',
    robotoregular: 'fonts/roboto-regular-webfont',
    robotomedium: 'fonts/roboto-medium-webfont',
    robotobold: 'fonts/roboto-bold-webfont',
);

// BUTTONS
// Default Button Ex. (button-class, background-code, font-color)
$buttons:
    ('btn-red', #D9534F, #FFFFFF),
    ('btn-blue', #00aeef, #FFFFFF),
    ('btn-abu', #eeeeee, #333333),
    ('btn-green', #517918, #FFFFFF),
    ('btn-green-mid', #39b54a, #FFFFFF);


// Color

$hitam: #333333;
$biru: #00aeef;
$green: #517918;
$greenMid: #39b54a;
$greenLight: #cbdda5;
$greenYellow: #b2d234;

$tw: #00aaeb;
$fb: #445f9f;
$gp: #f83e2c;

// text-align
$align: left center right;

// vertical-align
$vertical-align: top middle bottom;

// float
$float: left right;

// position
$position: top right bottom left;

// media-query
$media-query:
    (laptop, (min-width: 1366px)),
    (desktop, (min-width: 1200px)),
    (wide, (min-width: 992px)),
    (tablet, (min-width: 768px) and (max-width: 991px)),
    (mobile, (max-width: 767px)),
    (small-mobile, (max-width: 360px));
